.destinations {
    min-height: 740px;
}

.container--destinations {
    margin-bottom: 135px;
    margin-top: 163px;
    text-align: start;
}

.container--destinations>:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    padding-bottom: 56px;
}

.destinations__title {
    font-size: 36px;
    line-height: 50px;
}

.destinations__view-all {
    display: block;
    font-weight: 600;
    position: relative;
    font-size: 17px;
    width: 80px;
    text-align: start;
    letter-spacing: 0;
    color: #FB8F1D;
    transition: transform 0.1 ease-out
}

.destinations__view-all:hover {
    transform: scale(0.95);
}

.destinations__view-all::before {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../images/arrow-next.svg);
}

.travel-gallery {
    display: flex;
    justify-content: start;
    gap: 25px 25px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.place-card {
    width: 261px;
    height: 332px;
    border-radius: 8px;
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    transition: transform 0.1s ease-in;
}

.place-card:hover {
    transform: scale(0.95);
}

.place-card>figcaption {
    position: absolute;
    background-color: white;
    left: -5px;
    bottom: -5px;
    padding: 5px 25px 5px 5px;
    border-top-right-radius: 8px;
}

.place-card__name {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.place-card__country {
    font-size: 15px;
    color: #7D7987;
    margin: 0;
    padding-top: 5px;
}

.place-card--chill {
    background-image: url("../images/image 1.png");
}

.place-card--rock {
    background-image: url("../images/image\ 2.png")
}

.place-card--roof {
    background-image: url("../images/image\ 3.png")
}

.place-card--flood {
    background-image: url("../images/image\ 4.png")
}

@media screen and (max-width: 768px) {
    .container--destinations> :first-child {
        flex-direction: column;
        align-items: start;
        gap: 10px
    }

    .travel-gallery {
        justify-content: center;
    }
}