.grey-area {
    background-color: #F8F8F8;
}

.container--expanation {
    display: flex;
    flex-direction: row;
    /* padding-top: 207px;
    padding-bottom: 129px; */
    min-height: 774px;
    align-items: center;
    justify-content: space-between;
}

.container--expanation>img {
    max-width: 100%;
    min-width: 0;
    height: auto;
    flex-shrink: 1;
}

.explanation__text-group {
    max-width: 481px;
    flex-shrink: 1;
    flex-basis: 481px;
}

.explanation__title {
    font-size: 36px;
    line-height: 50px;
}

.explanation__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #7D7987;
    margin-bottom: 33px;
}

.explanation__learn-more {
    width: 164px;
    height: 48px;
    line-height: 48px;
}

@media screen and (max-width: 768px) {
    .container--expanation {
        flex-direction: column;
    }
}