.hero {
    position: relative;
    background-image: url(../images/thousand-01\ 1.png);
    background-repeat: no-repeat;
    background-position: top 72px left min(calc(51% + 310px), calc(100% - 20px));
}

.container--hero {
    padding-bottom: 222px;
}

.hero__panel {
    max-width: 471px;
    padding-top: 105px;
}


.hero__title {
    font-size: 64px;
    line-height: 80px;
    margin-top: 0px;
    margin-bottom: 74px;
}

.hero__subtitle {
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 21px;
}

.hero__funny-line {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    height: 0;
    width: 32px;
    border: 1px solid black;
    border-radius: 2px;
}

.specs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 47px;
}

.select-wrap {
    /* pointer-events: none; */
    background-color: white;
    position: relative;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    background-color: white;
}

.hero-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0px;
    padding-left: 30px;
    height: 50px;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
}

.select-wrap:has(.hero-select:open)::before {
    transform: rotate(-135deg);
}

.select-wrap::before {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    right: 20px;
    height: 7px;
    width: 7px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* border: 2px solid #4A4C53; */
    border: 2px solid orange;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    /* z-index: ;/ */
    transition: transform 0.3s ease-in;
}

.hero-select>option {
    color: #4A4C53;
}

.hero__explore {
    width: 180px;
    height: 52px;
    line-height: 52px;
}

@media screen and (max-width: 768px) {
    .hero {
        background-image: none;
    }

    .specs-grid {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .select-wrap {
        max-width: max(75%, 230px);
    }

    .hero__title,
    .hero__subtitle,
    .hero-select {
        text-align: start;
    }
}