.footer {
    border-top: 1px solid black;
}

.сontainer--footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.iconsPannel {
    display: flex;
    justify-content: end;
    gap: 20px;
}