.dialog {
    display: none;
}

.dialog.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(127, 255, 212, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center
}

.dialog__box {
    background-color: red;
    border: 6px solid black;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 1;
    z-index: 11;
}

.dialog__message {
    font-size: 40px;
}

.dialog__close {
    border: none;
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.dialog__close:hover {
    background-color: white;
    color: black;
}