.film_view {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 320px);
    padding: 30px 0 30px 0;
}

.home__title {
    font-size: 48px;
    font-weight: 800;
}

.home_flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home_flex>img {
    max-width: 100%;
    min-width: 0;
    height: auto;
    border-radius: 8px;
    /* flex-basis: 728px; */
    /* flex-shrink: 2; */
}