.main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main>img {
    min-width: 0;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    /* flex-basis: 728px; */
    /* flex-shrink: 2; */
}

.info-pannel {
    flex-shrink: 0;
}

.info-pannel p {
    margin-bottom: 8px;
}

.v_main {
    min-height: 100vh;
}