.main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.film_icon {
    min-width: 0;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border: 5px solid lightgray;
}

.film_icon.director-cut {
    border-color: red;
}

.info-pannel {
    flex-shrink: 0;
}

.info-pannel p {
    margin-bottom: 8px;
}

.v_main {
    min-height: 100vh;
}

.select-group {
    display: flex;
    gap: 20px;
}